# example .env file
# copy this file to a file named .env and modify the values below

###
# Configuration for upload-results to NocoDB
# Get your NocoDB API token from your NocoDB Account Settings
# https://nocodb.com/docs/product-docs/account-settings/api-tokens
###
UPLOAD_NOCODB__API_TOKEN=
UPLOAD_NOCODB__URL=https://noco.services.dataforgood.fr
UPLOAD_NOCODB__BASE_ID=pcvkn4m1kpeytae
UPLOAD_NOCODB__ACCOUNT_TABLE_NAME=Account - Manuel
UPLOAD_NOCODB__POST_TABLE_NAME=Post - Manuel

###
# Configure Extract backend
###
EXTRACT__BACKEND=api
EXTRACT__API_KEY=




###
# Configure Youtube extractor:
# YOUTUBE_API_KEY see https://developers.google.com/youtube/v3/getting-started for instructions
###
EXTRACT__YOUTUBE__API_KEY= 
###
# Configure Tiktok extractor
###
EXTRACT__TIKTOK__EXTRACTOR=V2
EXTRACT__TIKTOK__HEADLESS=False
