# example .env file
# copy this file to a file named .env and modify the values below

###
# Configuration for extract command using staging server
###
BACKEND=api
API_URL=http://opi-api.services.d4g.fr
API_KEY= <GET this from mattermost>

# For youtube extraction
# YOUTUBE__API_KEY= see https://developers.google.com/youtube/v3/getting-started for instructions


###
# Configuration for extract command using local docker compose API server
###
#BACKEND=api
#API_URL=http://localhost:8000
#API_KEY=dummy

###
# Configuration for extract command using file based tasks
###
# BACKEND=fs



###
# Configuration for generate-task command.
# DO NOT USE with remote server unless you know what you are doing
###
# GENERATE_TASK_BACKEND=fs


###
# Configuration for upload-results command
# Get your NocoDB API token from your NocoDB Account Settings
# https://nocodb.com/docs/product-docs/account-settings/api-tokens
###
#UPLOAD_NOCODB_API_TOKEN=
#UPLOAD_NOCODB_URL=https://noco.services.dataforgood.fr
#UPLOAD_NOCODB_BASE_ID=pcvkn4m1kpeytae
#UPLOAD_NOCODB_ACCOUNT_TABLE_NAME=Account - Manuel
#UPLOAD_NOCODB_POST_TABLE_NAME=Post - Manuel

